<h1>Nova Assinatura</h1>

<div class="form-container">
  <%= render "form", assinatura: @assinatura %>
</div>

<div class="mt-4">
  <%= link_to "Voltar para assinaturas", assinaturas_path, class: "btn btn-secondary" %>
</div>
